/*second-style.css */

/* ================================================================================================ 
											Header 
================================================================================================ */
header#header {
    background-color: #175779;
    color: #fff;
}
#header a{
	color: #fff;
    text-decoration: none;
}
#top-bar {
    padding-top: 15px;
}
.header-top-bar-content-area {
    border-bottom: 1px solid #fff;
}
.header .header-top-bar-content-area div {
    display: inline-block;
    margin: 6px 30px;
}
.top-bar-buttons .signin-btn {
    display: inline-block;
}
.custom-dashboard-btn {
    background-color: #6EC037;
    border-radius: 17px;
    padding: 8px 21px;
    text-decoration: none;    
}
.logo {
    margin: 29px 0px 0;
}
.main-logo {
    padding-right: 0;
}
.logo img {
    margin: 0 auto;
}

/* ================================================================================================ 
                                            Auto suggest  
================================================================================================ */
#suburb-result {
    text-align: left;
}

/* ================================================================================================ 
											Footer 
================================================================================================ */
#footer {
    background-color: #175779;
    color: #fff;
}
#footer a{
    color: #fff;	
}
#footer .footer-menu {
    float: right;
}
.footer-menu a {
    padding: 20px 12px;
    text-decoration: none;
}
.social-media-option a {
    display: inline-block;
    margin: 15px 10px;
}