/*
Theme Name: auctiondayfinder
Theme URI: http://underscores.me/
Author: Underscores.me
Author URI: http://underscores.me/
Description: Description
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: auctiondayfinder
Tags:

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

auctiondayfinder is based on Underscores http://underscores.me/, (C) 2012-2016 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal http://necolas.github.io/normalize.css/
*/

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Normalize
# Typography
# Elements
# Forms
# Navigation
	## Links
	## Menus
# Accessibility
# Alignments
# Clearings
# Widgets
# Content
	## Posts and pages
	## Comments
# Infinite scroll
# Media
	## Captions
	## Galleries
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
@font-face {
	font-family: 'CentraleSansRounded-Book';
	src: url('inc/fonts/CentraleSansRounded-Book/CentraleSansRounded-Book.eot'); /* IE9 Compat Modes */
	src: url('inc/fonts/CentraleSansRounded-Book/CentraleSansRounded-Book.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	   url('inc/fonts/CentraleSansRounded-Book/CentraleSansRounded-Book.woff') format('woff'), /* Pretty Modern Browsers */
	   url('inc/fonts/CentraleSansRounded-Book/CentraleSansRounded-Book.ttf')  format('truetype'), /* Safari, Android, iOS */
	   url('inc/fonts/CentraleSansRounded-Book/CentraleSansRounded-Book.svg#svgFontName') format('svg'); /* Legacy iOS */
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'CentraleSansRounded-Medium';
	src: url('inc/fonts/CentraleSansRounded-Medium/CentraleSansRounded-Medium.eot'); /* IE9 Compat Modes */
	src: url('inc/fonts/CentraleSansRounded-Medium/CentraleSansRounded-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	   url('inc/fonts/CentraleSansRounded-Medium/CentraleSansRounded-Medium.woff') format('woff'), /* Pretty Modern Browsers */
	   url('inc/fonts/CentraleSansRounded-Medium/CentraleSansRounded-Medium.ttf')  format('truetype'), /* Safari, Android, iOS */
	   url('inc/fonts/CentraleSansRounded-Medium/CentraleSansRounded-Medium.svg#svgFontName') format('svg'); /* Legacy iOS */
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'CentraleSansRounded-Light';
	src: url('inc/fonts/CentraleSansRounded-Light/CentraleSansRounded-Light.eot'); /* IE9 Compat Modes */
	src: url('inc/fonts/CentraleSansRounded-Light/CentraleSansRounded-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	   url('inc/fonts/CentraleSansRounded-Light/CentraleSansRounded-Light.woff') format('woff'), /* Pretty Modern Browsers */
	   url('inc/fonts/CentraleSansRounded-Light/CentraleSansRounded-Light.ttf')  format('truetype'), /* Safari, Android, iOS */
	   url('inc/fonts/CentraleSansRounded-Light/CentraleSansRounded-Light.svg#svgFontName') format('svg'); /* Legacy iOS */
	font-weight: normal;
	font-style: normal;
}
html {
	font-family: sans-serif;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust:     100%;
	min-height: 100%;
	position: relative;
}

body {
	font-family: 'CentraleSansRounded-Medium' !important;
	font-size: 16px !important;
	color: #868e96 !important;
	margin-bottom: 150px !important;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
	display: block;
}

audio,
canvas,
progress,
video {
	display: inline-block;
	vertical-align: baseline;
}

audio:not([controls]) {
	display: none;
	height: 0;
}

[hidden],
template {
	display: none;
}

a {
	background-color: transparent;
}

a:active,
a:focus,
a:hover {
	outline: 0 !important;
}

abbr[title] {
	border-bottom: 1px dotted;
}

b,
strong {
	font-weight: bold;
}

dfn {
	font-style: italic;
}

h1 {
	font-size: 2em;
	margin: 0.67em 0;
}

mark {
	background: #ff0;
	color: #000;
}

small {
	font-size: 80%;
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	top: -0.5em;
}

sub {
	bottom: -0.25em;
}

img {
	border: 0;
}

svg:not(:root) {
	overflow: hidden;
}

figure {
	margin: 1em 40px;
}

hr {
	box-sizing: content-box;
	height: 0;
}

pre {
	overflow: auto;
}

code,
kbd,
pre,
samp {
	font-family: monospace, monospace;
	font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
	color: inherit;
	font: inherit;
	margin: 0;
}

button {
	overflow: visible;
}

button,
select {
	text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
	-webkit-appearance: button;
	cursor: pointer;
}

button[disabled],
html input[disabled] {
	cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

input {
	line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
	box-sizing: border-box;
	padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	height: auto;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

fieldset {
	border: 1px solid #c0c0c0;
	margin: 0 2px;
	padding: 0.35em 0.625em 0.75em;
}

legend {
	border: 0;
	padding: 0;
}

textarea {
	overflow: auto;
}

optgroup {
	font-weight: bold;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

td,
th {
	padding: 0;
}

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
textarea {
	color: #404040;
	font-family: sans-serif;
	font-size: 16px;
	font-size: 1rem;
	line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
}

p {
	margin-bottom: 1.5em;
}

dfn,
cite,
em,
i {
	font-style: italic;
}

blockquote {
	margin: 0 1.5em;
}

address {
	margin: 0 0 1.5em;
}

pre {
	background: #eee;
	font-family: "Courier 10 Pitch", Courier, monospace;
	font-size: 15px;
	font-size: 0.9375rem;
	line-height: 1.6;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}

code,
kbd,
tt,
var {
	font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
	font-size: 15px;
	font-size: 0.9375rem;
}

abbr,
acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}

mark,
ins {
	background: #fff9c0;
	text-decoration: none;
}

big {
	font-size: 125%;
}

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
html {
	box-sizing: border-box;
}

*,
*:before,
*:after { /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	box-sizing: inherit;
}

body {
	background: #fff; /* Fallback for when there is no custom background color defined. */
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
}

blockquote,
q {
	quotes: "" "";
}

hr {
	background-color: #ccc;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

ul,
ol {
	margin: 0 0 1.5em 3em;
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 1.5em;
}

dt {
	font-weight: bold;
}

dd {
	margin: 0 1.5em 1.5em;
}

img {
	height: auto; /* Make sure images are scaled correctly. */
	max-width: 100%; /* Adhere to container width. */
}

figure {
	margin: 1em 0; /* Extra wide images within figure tags don't overflow the content area. */
}

table {
	margin: 0 0 1.5em;
	width: 100%;
}

/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 1px solid;
	border-color: #ccc #ccc #bbb;
	border-radius: 3px;
	background: #e6e6e6;
	color: rgba(0, 0, 0, .8);
	font-size: 12px;
	font-size: 0.75rem;
	line-height: 1;
	padding: .6em 1em .4em;
}

button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
	border-color: #ccc #bbb #aaa;
}

button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus,
button:active,
input[type="button"]:active,
input[type="reset"]:active,
input[type="submit"]:active {
	border-color: #aaa #bbb #bbb;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	color: #666;
	border: 1px solid #ccc;
	border-radius: 3px;
	padding: 3px;
}

select {
	border: 1px solid #ccc;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="range"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="color"]:focus,
textarea:focus {
	color: #111;
}

textarea {
	width: 100%;
}
*:focus {
    outline: none;
}

/* ================================================================================================ 
                                            Form Style  
================================================================================================ */
form .property.inspection-date input[type="text"] {
    width: 100% !important;
}


/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
a {
	color: royalblue;
}

a:visited {
	color: #fff;
}

a:hover,
a:focus,
a:active {
	color: #fff;
}


a:hover,
a:active {
	outline: 0;
}

/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/
.main-navigation {
	clear: both;
	display: block;
	float: left;
	width: 100%;
}

.main-navigation ul {
	display: none;
	list-style: none;
	margin: 0;
	padding-left: 0;
}

.main-navigation li {
	float: left;
	position: relative;
}

.main-navigation a {
	display: block;
	text-decoration: none;
}

.main-navigation ul ul {
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
	float: left;
	position: absolute;
	top: 1.5em;
	left: -999em;
	z-index: 99999;
}

.main-navigation ul ul ul {
	left: -999em;
	top: 0;
}

.main-navigation ul ul a {
	width: 200px;
}

.main-navigation ul ul li {

}

.main-navigation li:hover > a,
.main-navigation li.focus > a {
}

.main-navigation ul ul :hover > a,
.main-navigation ul ul .focus > a {
}

.main-navigation ul ul a:hover,
.main-navigation ul ul a.focus {
}

.main-navigation ul li:hover > ul,
.main-navigation ul li.focus > ul {
	left: auto;
}

.main-navigation ul ul li:hover > ul,
.main-navigation ul ul li.focus > ul {
	left: 100%;
}

.main-navigation .current_page_item > a,
.main-navigation .current-menu-item > a,
.main-navigation .current_page_ancestor > a,
.main-navigation .current-menu-ancestor > a {
}

#top-menu .navbar-inverse .navbar-nav>.active>a, 
#top-menu .navbar-inverse .navbar-nav>.active>a:focus, 
#top-menu .navbar-inverse .navbar-nav>.active>a:hover {
    color: #fff;
    background-color: transparent;
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

@media screen and (min-width: 37.5em) {
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		display: block;
	}
}

.site-main .comment-navigation,
.site-main .posts-navigation,
.site-main .post-navigation {
	margin: 0 0 1.5em;
	overflow: hidden;
}

.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
	float: left;
	width: 50%;
}

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
	float: right;
	text-align: right;
	width: 50%;
}

/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers. */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
	word-wrap: normal !important; /* Many screen reader and browser combinations announce broken words as they would appear visually. */
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar. */
}

/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus {
	outline: 0;
}

/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
}

.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
}

.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/
.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
	content: "";
	display: table;
	table-layout: fixed;
}

.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
	clear: both;
}

/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
.widget {
	margin: 0 0 1.5em;
}

/* Make sure select elements fit in widgets. */
.widget select {
	max-width: 100%;
}

/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}

.byline,
.updated:not(.published) {
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
.comment-content a {
	word-wrap: break-word;
}

.bypostauthor {
	display: block;
}

/*--------------------------------------------------------------
# Infinite scroll
--------------------------------------------------------------*/
/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .posts-navigation, /* Older / Newer Posts Navigation (always hidden) */
.infinite-scroll.neverending .site-footer { /* Theme Footer (when set to scrolling) */
	display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before. */
.infinity-end.neverending .site-footer {
	display: block;
}

/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
	max-width: 100%;
}

/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
.wp-caption {
	margin-bottom: 1.5em;
	max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.wp-caption .wp-caption-text {
	margin: 0.8075em 0;
}

.wp-caption-text {
	text-align: center;
}

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
.gallery {
	margin-bottom: 1.5em;
}

.gallery-item {
	display: inline-block;
	text-align: center;
	vertical-align: top;
	width: 100%;
}

.gallery-columns-2 .gallery-item {
	max-width: 50%;
}

.gallery-columns-3 .gallery-item {
	max-width: 33.33%;
}

.gallery-columns-4 .gallery-item {
	max-width: 25%;
}

.gallery-columns-5 .gallery-item {
	max-width: 20%;
}

.gallery-columns-6 .gallery-item {
	max-width: 16.66%;
}

.gallery-columns-7 .gallery-item {
	max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
	max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
	max-width: 11.11%;
}

.gallery-caption {
	display: block;
}
.home #header_top{
	min-height: 886px;
	background-position-y: bottom;
	background-repeat: no-repeat;
	background-position-x: center;
	background-size: 100%;
}
.site-branding{
	margin-top: 15px;
}  


.navbar-inverse {
    background-color: transparent !important; 
    border-color: transparent !important;
}
.navbar-nav {
    float: right !important;
}
.navbar-collapse{
	padding: 0px !important;
}
.navbar-inverse .navbar-nav>li>a {
    color: #868e96 !important;
    font-size: 14px;
}
#bs-example-navbar-collapse-1{
	margin-top: 25px;
	float: right;
}
.header-search-form{	
	float: right;
	max-width: 210px;
	margin:28px 0 18px 30px;
}

/*#bs-example-navbar-collapse-1 li.sign_in a{
	color: #343a40 !important;
    padding-right: 0;
}*/
#bs-example-navbar-collapse-1 li.list_your_property,
#bs-example-navbar-collapse-1 li.list_your_property a{
	color: #ffffff !important;
    border-radius: 25px;
}

#home_page_only h1{
	font-family: "CentraleSansRounded-Book";
	color: #343a40;
	font-size: 48px;
	margin-top: 57px;
	margin-bottom: 33px;	
	line-height: 38px;
}
#home_page_only p{
	font-family: "CentraleSansRounded-Light";
}
#home_page_only{
	text-align: center;
}
#home_page_only form#searchform{
	margin: 28px auto 0;
    background-color: rgba(0,0,0,0.3);
    font-family: "CentraleSansRounded-Book";
    max-width: 750px;
    padding: 30px 45px;
    position: relative;
}
form#searchform{
	font-family: "CentraleSansRounded-Book";
}
form#searchform input[type="text"]{
	font-size: 16px;
    color: #adb5bd;
    border-radius: 40px;
    background-image: url(css/img/search.png);
    background-repeat: no-repeat;
    background-position: 15px center;
    border: 1px solid #adb5bd;
    padding: 10px 10px 10px 50px;
    background-size: 19px;
    width: 100%;
}
#home_page_only form#searchform input[type="text"]{
	width: 100%;
	height: 72px;
	font-size: 16px;
	color: #adb5bd;
	border-radius: 0px;
	padding: 20px 20px 20px 75px;
	background-image: url(css/img/search.png);
	background-repeat: no-repeat;
	background-position: 27px center;
	border: 1px solid #adb5bd;
}
#home_page_only form#searchform .inclined_submit{
	position: absolute;
	top: 30px;
	right: 45px;
	width: 200px;
	overflow: hidden;
}
#home_page_only form#searchform input[type="submit"]{
	font-family: 'CentraleSansRounded-Book' !important;
	position: relative;
	height: 72px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#49a0e7+1,5ab3f7+49,49a0e7+100 */
	background: #49a0e7; /* Old browsers */
	background: -moz-linear-gradient(top,  #49a0e7 1%, #5ab3f7 49%, #49a0e7 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #49a0e7 1%,#5ab3f7 49%,#49a0e7 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #49a0e7 1%,#5ab3f7 49%,#49a0e7 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#49a0e7', endColorstr='#49a0e7',GradientType=0 ); /* IE6-9 */
	box-shadow: inset 0px -5px 6px 0px rgba(0, 0, 0, 0.07);
	text-shadow: 2px 1px 0px rgba(12, 12, 18, 0.15);
	color: #fff;
	font-size: 16px;
	width: 100%;
	padding: 20px 68px 20px 50px;
	float: right;
	border: 0;
}
.read_more{
	border-radius: 40px;
    background: #49a0e7;
    background: -moz-linear-gradient(top, #49a0e7 1%, #5ab3f7 49%, #49a0e7 100%);
    background: -webkit-linear-gradient(top, #49a0e7 1%,#5ab3f7 49%,#49a0e7 100%);
    background: linear-gradient(to bottom, #49a0e7 1%,#5ab3f7 49%,#49a0e7 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#49a0e7', endColorstr='#49a0e7',GradientType=0 );
    box-shadow: inset 0px -5px 6px 0px rgba(0, 0, 0, 0.07);
    text-shadow: 2px 1px 0px rgba(12, 12, 18, 0.15);
    color: #fff;
    font-size: 16px;
    height: 48px;
    padding: 14px 30px 15px;
    line-height: 24px;
}
#home_page_only form#searchform .inclined{
    transform: skew(-22deg,0deg);
    -ms-transform: skew(-22deg,0deg);
    -webkit-transform: skew(-22deg,0deg);
    width: 30px;
    position: absolute;
    height: 72px;
    float: left;
    background: #fff;
    left: -15px;
    z-index: 999;
    top: 0px;
    border-top: 1px solid #adb5bd;
    border-bottom: 1px solid #adb5bd;
    margin:0;
}
#home_page_only form#searchform .inclined:after, #home_page_only form#searchform .inclined:before {
	left: 98%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

#home_page_only form#searchform .inclined:after {
	border-color: rgba(255, 255, 255, 0);
	border-left-color: #ffffff;
	border-width: 7px;
	margin-top: -7px;
}
#home_page_only form#searchform .inclined:before {
	border-color: rgba(255, 255, 255, 0);
	border-left-color: #ffffff;
	border-width: 7px;
	margin-top: -7px;
}
#home_page_only form#searchform span{
    background-image: url(css/img/arrow.png);
    position: absolute;
    right: 20px;
    height: 72px;
    padding: 28px 0;
    width: 17px;
    background-repeat: no-repeat;
    background-position: 0 32px;
}
::-webkit-input-placeholder { color:#adb5bd; font-size: 16px;}
::-moz-placeholder { color:#adb5bd; font-size: 16px;} /* firefox 19+ */
:-ms-input-placeholder { color:#adb5bd; font-size: 16px;} /* ie */
input:-moz-placeholder { color:#adb5bd; font-size: 16px;}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}

/****************************************************************************************************** 
								home page Search 
******************************************************************************************************/
#suburb-result {
    text-align: left;
}

#suburb-result a {
    border-radius: 25px;
    padding: 3px 25px;
}
 
#suburb-result a:active, 
#suburb-result a:hover, 
#suburb-result a:focus {
	color: #ffffff;
	background: #49a0e7;
	background: -moz-linear-gradient(top, #49a0e7 1%, #5ab3f7 49%, #49a0e7 100%);
	background: -webkit-linear-gradient(top, #49a0e7 1%,#5ab3f7 49%,#49a0e7 100%);
	background: linear-gradient(to bottom, #49a0e7 1%,#5ab3f7 49%,#49a0e7 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#49a0e7', endColorstr='#49a0e7',GradientType=0 );
}

/********************* home page slider *********************************/
.carousel-title h1 {
    color: #fff;
    font-family: "CentraleSansRounded-Book";
    font-size: 40px;
    line-height: 38px;
    margin-bottom: 20px;
    margin-top: 10px;
    text-transform: capitalize;
}

#header_carousel{
	margin-top: -255px;
	min-height: 450px;
	background-color: rgba(0, 0, 0, 0.3);
}

.carousel-title {
    padding-top: 10px;
}

#header_carousel .property_image img{
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	height: 180px;
	-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter:grayscale(100%);
}
#property_listing .property_image img{
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	height: 180px;
}
#property_listing .item{
	margin-bottom: 30px;
}
#header_carousel .owl-stage .active .item .property_image img{
	-webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
    filter: grayscale(0%);
}
#header_carousel .property_image{
	    -webkit-filter: opacity(40%); /* Safari 6.0 - 9.0 */
    	filter:opacity(40%);
	    border-top-left-radius: 5px;
	    border-top-right-radius: 5px;
}
#header_carousel .owl-stage{
	padding-bottom: 40px;
	padding-top: 20px;
}
#header_carousel .owl-stage .item, #property_listing .item{
	background: #fff;
	border-radius: 5px;
	box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.16);
	-webkit-transition: all 200ms ease-in;
	-ms-transition: all 200ms ease-in;
	-moz-transition: all 200ms ease-in;
	transition: all 200ms ease-in;
}
#header_carousel .owl-stage .active .item .property_image, #property_listing .item .property_image{
	-webkit-filter: opacity(100%); /* Safari 6.0 - 9.0 */
	filter:opacity(100%);
}
#header_carousel .owl-stage .active .item:hover, #property_listing .item:hover{
    z-index: 2;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.08);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1.08);   
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.08);
    transition: all 200ms ease-in;
    transform: scale(1.08);
    background: transparent;
}
#header_carousel .owl-stage .active .item:hover .property_plot, #header_carousel .owl-stage .active .item:hover .property_street{
	color: #000000;
}
#header_carousel .owl-stage .active .item:hover .property_read_more, #property_listing .item:hover .property_read_more{
	display: block;
}
.property_plot, .property_street{
	color: #343a40;
	font-size: 16px !important;
	line-height: 24px;
	font-family: 'CentraleSansRounded-Book' !important;
}
#header_carousel .owl-stage .item span, #property_listing .item span{
	font-size: 13px;
}
#header_carousel .peoperty_desc, #property_listing .peoperty_desc{
	padding: 18px 21px 10px;
	background-color: #fff;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.peoperty_desc p{
	margin:0px;
}
.peoperty_desc p.property_address{
	margin-bottom: 4px !important;
	min-height: 46px;
}
.property_bed{
	margin-left: 12px;
    padding-left: 22px;
    background: url(css/img/bedroom.png) no-repeat;
    background-position: 0px center;
}
.property_bath{
	margin-left: 12px;
    padding-left: 15px;
    background: url(css/img/bathroom.png) no-repeat;
    background-position: 0px center;
}
.property_car{
	margin-left: 12px;
    padding-left: 15px;
    background: url(css/img/car_parking.png) no-repeat;
    background-position: 0px center;
}
.property_read_more{
	font-family: 'CentraleSansRounded-Book' !important;
	display: none;
    margin: 20px auto -26px;
    width: 125px;
    text-align: center;
    height: 38px;
    padding: 9px;
    border-radius: 23px;
    font-size: 14px;
    color: #fff;
    text-shadow: 2px 1px 0px rgba(12, 12, 18, 0.15);
    text-decoration: none;
    background: #49a0e7; /* Old browsers */
	background: -moz-linear-gradient(top,  #49a0e7 1%, #5ab3f7 49%, #49a0e7 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #49a0e7 1%,#5ab3f7 49%,#49a0e7 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #49a0e7 1%,#5ab3f7 49%,#49a0e7 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#49a0e7', endColorstr='#49a0e7',GradientType=0 ); /* IE6-9 */
}

.property_read_more:focus,
.property_read_more:active,
.property_read_more:hover{
	color: #fff;
}

#header_carousel .owl-nav{
    position: absolute;
    display: block;
    width: 100%;
    top: 160px;
}
#header_carousel .owl-nav .owl-prev{
    background: url(css/img/prev.png) no-repeat;
    margin: 0;
    height: 38px;
    width: 38px;
    position: absolute;
    left: 58px;
    color: transparent;
    cursor: pointer;
}
#header_carousel .owl-nav .owl-next{
    background: url(css/img/next.png) no-repeat;
    margin: 0;
    height: 38px;
    width: 38px;
    position: absolute;
    color: transparent;
    right: 58px;
    cursor: pointer;
}
a#featured-property-link{
	display: block;
	height: 480px;
}
#footer-top{
	background: #1A2730;
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 106px;
}
#footer-top li{
	list-style-type: none;
	float: left;
}

#footer-social ul{
	margin:0px;
	padding: 0px;
}
#footer-social ul li{
	margin-left:10px;
}
#footer-social ul li.facebook-social{
	margin-left:0px !important;
}
#footer-social ul li a{
	width: 56px;
	height: 56px;
	display: block;
}
#footer-social ul li.facebook-social a{
	background: url(css/img/facebook.png) no-repeat;
}
#footer-social ul li.twitter-social a{
	background: url(css/img/twitter.png) no-repeat;
}
#footer-social ul li.pinterest-social a{
	background: url(css/img/pinterest.png) no-repeat;
}
#footer-social ul li.instagram-social a{
	background: url(css/img/instagram.png) no-repeat;
}

#footer-social{
    margin-top: 24px;
    margin-bottom: 26px;
}

.footer-logo{
	display: inline-block;
	float: left;
	margin-right: 15px;
}
.footer-copyright{
	float: left;
	margin-top: -7px;
}
#copyright{
	margin-top: 40px;
	padding-right: 0;
	width: 25%;
}
.footer-copyright a, .footer-copyright a:hover{
	color: #fff;
	font-family: "CentraleSansRounded-Book";
	text-decoration: none;
	font-weight: 700;
	font-size: 14px;
}
.footer-copyright a span{
	font-size:12px;
}
.copyright-text{
    margin: 0;
    line-height: 10px;
    font-size: 10px;
}
.footer-copyright p{
	margin-bottom: 5px;
}
#footer-menu a, #footer-menu a:hover{
	color: #fff;
}
#footer-menu a{
	padding: 0px 15px;
	    font-size: 14px;
}
#footer-menu ul{
	margin:0px;
	padding: 0px;
}
a:hover{
	text-decoration: none !important;
}
#footer-menu{
	padding: 0px !important;
	margin-top: 41px;
}
#footer-menu ul li:first-child a{
	padding-left: 0px;
}
#footer-menu ul li:last-child a{
	padding-right: 0px;
}
#footer-menu a:after {
    width: 1px;
    display: block;
    content: "";
    height: 15px;
    transform: rotate(20deg);
    background: #868e96;
    position: absolute;
    top: 5px;
}
#footer-menu ul li:first-child a:after{
	width: 0px;
}

#feature1,
#feature2 {
    text-align: center;
}

#home_feature h2{
	font-family: 'CentraleSansRounded-Light' !important;
    font-size: 24px;
    color: #343a40;
    line-height: 28px;
    margin-top: 50px;
    margin-bottom: 35px;
}
#home_feature p{
	font-family: 'CentraleSansRounded-Book' !important;
    font-size: 17px;
    line-height: 30px;
    margin-bottom: 55px;
}
#home_feature p:last-child{
	margin-bottom: 0px;
}
#home_feature{
	padding-bottom: 150px;
	padding-top: 100px;
}
.home #content{
	background-repeat: no-repeat;
    background-position: bottom right;
}
.home .header-search-form{
	display: none;
}
#header_top{
	border-bottom:1px solid #e5e5e5;
}
.home #header_top{
	border-bottom:0px !important;
}
#header_top .navbar-inverse{
	margin-bottom: 0px !important;
}
.page-header{
	border-bottom:0px !important;
}
.page-header h1.page-title{
    font-family: "CentraleSansRounded-Light";
    font-size: 36px;
    color: #000;
    margin-top: 51px;
    margin-bottom:0px;
}
p.property_single_date{
	color: #343a40;
    font-size: 16px !important;
    line-height: 24px;
    font-family: 'CentraleSansRounded-Book' !important;
    margin-bottom: 25px;
    margin-top: 48px;
}
#property_listing{
	margin-bottom: 70px;
}
.page-header{
	margin-bottom: 11px !important;
}

/* ============================================================================================================================= 
													Single Proparty Information Page	
================================================================================================================================ */
.breadcrumbs-links {
    display: inline-block;
}

.breadcrumbs-links a {
    color: #adb5bd;
    font-family: 'CentraleSansRounded-Light';
    font-size: 14px;
    line-height: 30px;
    font-weight: 600;
}

.breadcrumbs-links .entry-title {
    color: #343a40;
    font-family: 'CentraleSansRounded-Light';
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    margin: 0;
}

.single-navigation {
    padding: 40px 0 60px;
}

.inspection_wrapper {
    margin-bottom: 30px;
}

.inspection-title h2 {
    color: #343a40;
    font-family: 'CentraleSansRounded-Light';
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    margin: -8px 0px 25px 0;
}

.inspection-info div {
    display: inline-block;
}

.inspection-date {
    color: #343a40;
    font-family: 'CentraleSansRounded-Book';
    font-size: 14px;
    font-weight: 600;
    line-height: 30px;
    padding-right: 45px;
    width: 190px;
}

.inspection-timing {
    border-radius: 50px;
    color: #adb5bd;
    cursor: pointer;
    font-family: 'CentraleSansRounded-Book';
    font-size: 14px;
    font-weight: 600;
    line-height: 30px;
    padding: 10px 25px 10px 25px;
}

.inspection-timing {
	-webkit-transition: all 200ms ease-in;
    -moz-transform: scale(1);
    -moz-transition: all 200ms ease-in;
    -ms-transform: scale(1); 
    -ms-transition: all 200ms ease-in;
    -webkit-transform: scale(1); 
    transform: scale(1);
    transition: all 200ms ease-in;
}

#inspection-wrapper {
    margin-left: -30px;
}

.calender-icon i {
    background-color: #51a3fe;
    border-radius: 50px;
    color: #fff;
    height: 45px;
    margin: 0 0 0 30px;
    padding: 15px 0px;
    text-align: center;
    vertical-align: middle;
    visibility: hidden;
    width: 45px;
}

.inspection-timing:hover {
	box-shadow: 0px 0px 15px #efefef;
    -moz-transform: scale(1.070);
    -moz-transition: all 200ms ease-in;
    -ms-transform: scale(1.070);   
    -ms-transition: all 200ms ease-in;
    -webkit-transform: scale(1.070);
    -webkit-transition: all 200ms ease-in;
    background-color: #fff;
    transform: scale(1.070);
    transition: all 200ms ease-in;
}

.inspection-timing:hover .calender-icon i {
    transition: all 200ms ease-in;
    visibility: visible;
}

.agent-title h2 {
    color: #343a40;
    font-family: 'CentraleSansRounded-Light';
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    margin: 0px 0px 40px 0;
}

.agent-avatar img {
    border-radius: 50px;
    padding: 5px;
    background-color: #fff;
    box-shadow: 0 0 10px #efefef;
}

.agent-name-wrapper {
    vertical-align: middle;
    padding: 25px 0;
}

.agent-name {
    font-size: 16px;
    line-height: 30px;
    color: #343a40;
    text-transform: capitalize;
    font-family: 'CentraleSansRounded-Book';
    font-weight: 600;
}

.agent-phone {
    font-size: 14px;
    line-height: 30px;
    color: #adb5bd;
    text-transform: capitalize;
    font-family: 'CentraleSansRounded-Book';
    font-weight: 600;
}
.agent-phone a{
    color: #adb5bd;
}

.agent-avatar {
    text-align: center;
}

.agent-avatar img {
    height: 100px;
    width: 100px;
}

.property-info img {
    padding: 0 10px 0 0;
}

.property-info {
    padding: 22px 0px 0 0;
}

.pro-info {
    font-size: 14px;
    line-height: 30px;
    color: #343a40;
    text-transform: capitalize;
    font-family: 'CentraleSansRounded-Book';
    font-weight: 600;
}

.bathrooms-info.pro-info {
    text-align: right;
}

.parking-info.pro-info {
    text-align: right;
}

.agent-contact-buttons {
	clear: both;
	padding-top: 30px;
}

.interestd-btn a {
    font-size: 14px;
    line-height: 24px;
    font-family: 'CentraleSansRounded-Book';
}
.email-agent-btn a {
	font-size: 14px;
    line-height: 24px;
    font-family: 'CentraleSansRounded-Book';
}

.agent-contact-buttons div {
    display: inline-block;
}

body .btn-sliver {
    color: #839ab2;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fcfeff+0,def0fd+100 */
	background: #fcfeff; /* Old browsers */
	background: -moz-linear-gradient(top,  #fcfeff 0%, #def0fd 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #fcfeff 0%,#def0fd 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #fcfeff 0%,#def0fd 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfeff', endColorstr='#def0fd',GradientType=0 ); /* IE6-9 */
	border-radius: 8px;
	padding: 20px 28px;
}

body .email-agent-btn .btn-skyblue {
	color: #fff;
	background-color: #5bb3f7;
	border-color: #5bb3f7;
	padding: 20px 75px;
}

.btn-skyblue {
	color: #fff;
	background-color: #5bb3f7;
	border-color: #5bb3f7;
}

body .skyblue{
	color: #ffffff;
	background: #49a0e7;
    background: -moz-linear-gradient(top, #49a0e7 1%, #5ab3f7 49%, #49a0e7 100%);
    background: -webkit-linear-gradient(top, #49a0e7 1%,#5ab3f7 49%,#49a0e7 100%);
    background: linear-gradient(to bottom, #49a0e7 1%,#5ab3f7 49%,#49a0e7 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#49a0e7', endColorstr='#49a0e7',GradientType=0 );
}

.interestd-btn {
    padding-right: 12px;
}

.email-agent-btn {
    padding-left: 12px;
}

.property-share {
    color: #adb5bd;
    cursor: pointer;
    font-family: 'CentraleSansRounded-Book';
    font-size: 14px;
    font-weight: 600;
    line-height: 30px;
    padding: 28px 0px;
    text-align: center;
    text-decoration: none;
}

.property-share a {
    color: #adb5bd;
    cursor: pointer;
    font-family: 'CentraleSansRounded-Book';
    font-size: 14px;
    font-weight: 600;
    line-height: 30px;
    padding: 28px 0px;
    text-align: center;
    text-decoration: none;
}

.property.hentry {
    margin-bottom: 0;
}

.border-rg {
    border-right: 1px solid;
    border-color:rgba(131, 154, 178, 0.1);
}

.property-share-info {
    margin-top: 205px;
    border-top: 1px solid;
    border-color:rgba(131, 154, 178, 0.1);
}

.border-rg.last {
    border: none;
}

.property-meta {
    position: relative;
}


/* ******************** thumbnail SLider css ******************** */
	.carousel_thumbnail img {
        vertical-align: middle;
    }

    .carousel_thumbnail .owl-carousel {
        height: 100%;
    }

    .carousel_thumbnail.owl-carousel .owl-item, .carousel_thumbnail.owl-carousel .item {
        height: auto;
    }

    .owl-carousel.carousel_thumbnail  .owl-item img {
        transform-style: initial;
        height: auto;
        object-fit: cover;
    }

    .carousel_thumbnail .owl-thumb-item img {
        width: 62px;
        height: 62px;
    }

    .carousel_thumbnail .owl-thumbs {
        position: absolute;
        bottom: 0;
        left: 0;
        display: table;
        width: 100%;
        text-align: left;
        padding: 4px;
    }

    .carousel_thumbnail .owl-thumb-item {
        display: table-cell;
        border: none;
        background: none;
        padding: 0 2px;
        opacity: .5;
    }

    .carousel_thumbnail .owl-thumb-item.active {
        opacity: 1;
    }

    .carousel_thumbnail .label {
        position: absolute;
        top: 20px;
        right: 20px;
        background-color: #0a6cff;
        color: white;
        padding: 10px 20px;
        z-index: 5;
        text-align: center;
    }

	.carousel_thumbnail .owl-nav.disabled,
	.carousel_thumbnail .owl-dots.disabled {
		display: none;
	}

/* ========================================================================================================
												Page layout
 ========================================================================================================== */
.main-sidebar ul {
    padding: 0;
    list-style-type: none;
    margin-left: 0;
}

.main-content .entry-title {
    color: #343a40;
    font-family: 'CentraleSansRounded-Light';
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
}

 .main-sidebar .widget-title {
    color: #343a40;
    font-family: 'CentraleSansRounded-Light';
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
}

/* ========================================================================================================
												User My account
 ========================================================================================================== */
.user_carousel .owl-stage-outer {
    padding-bottom: 20px;
    padding-top: 20px;
}

.user_carousel .item {
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.16);
}

.user_peoperty_desc {
    padding: 10px 20px 10px;
}

.uploaded-property-list {
    min-height: 380px;
}

.user_carousel .owl-stage {
    padding-bottom: 40px;
    padding-top: 20px;
}

.user_carousel .owl-prev {
    font-size: 30px;
    position: absolute;
    top: 45%;
    color: #fff;
    left: 10px;
    cursor: pointer;
}

.user_carousel .owl-next {
    font-size: 30px;
    position: absolute;
    top: 45%;
    color: #fff;
    right: 10px;
    cursor: pointer;
}

 /* ========================================================================================================
													Add Property Form
 ========================================================================================================== */


.inspection-field input {
    width: : 100% !important;
}

.floor-plan-field .ginput_container.ginput_container_fileupload {
    width: 150px;
}

.floor-plan-field .ginput_container .validation_message ul {
    margin: 0;
    padding: 0;
}

#property_feature h2 {
    font-size: 24px;
    color: #4b4e52;
    font-family: 'CentraleSansRounded-Medium';
    line-height: 24px;
    font-weight: 400;
}

li#field_10_74.step-style,
li#field_4_61.step-style {
    margin-top: 48px !important;
}

li#field_10_77.step-style {
    margin-top: 92px !important;
}


.sign-up div#post-160 {
    margin-bottom: 110px;
}

ul.nav.nav-tabs.nav-tabs-border {
   z-index: 999999;
}

.step-style {
    font-family: 'CentraleSansRounded-Medium';
    font-size: 12px;
    font-weight: 400;
    line-height: 24px;
    color:#adb5bd;
    margin-bottom: 12px;
    margin-top: 100px !important;
}



form .property label.gfield_label {
    font-size: 11px;
    font-family: 'CentraleSansRounded-Medium';
    line-height: 16px;
    color: #adb5bd;
    text-transform: uppercase;
    position: absolute;
    top: -7px;
    left: 20px;
    background-color: #fff;
}

body .gform_wrapper .top_label div.ginput_container .medium.gfield_select{
	border-radius: 3px;
}

body .gform_wrapper ul li#field_4_13, ul li#field_4_14, ul li#field_4_15, ul li#field_4_26, ul li#field_4_27,
body .gform_wrapper ul li#field_10_13, ul li#field_10_14, ul li#field_10_15, ul li#field_10_26, ul li#field_10_27 {
    margin-top: 0px;
}

.gform_body ul li#field_4_64 {
    margin-top: 90px !important;
}

.gform_body ul li#field_4_65 {
    margin-top: 97px !important;
}

#gform_10 .gsection,
#gform_4 .gsection {
    border: none !important;
}

.property {
    position: relative;
}

.property input {
    height: 60px;
}
form .property.sublabel label.gfield_label{
    font-size: 12px;
    font-family: 'CentraleSansRounded-Medium';
    line-height: 16px;
    color: #adb5bd;
    text-transform: uppercase;
    position: relative;
    top: 0px;
    left: 0px;
    background-color: #fff;
}

.property select{
	height:60px;
}

form .property input[type="text"] {
	font-size: 14px !important;
	line-height: 24px;
	font-family: CentraleSansRounded-Book !important;
	color:#4b4e52;
}

body .gform_wrapper input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]) {
    padding: 5px 15px !important;
}

form .property select#input_4_19 , form .property select#input_10_19 {
    margin-top: 8px;
}

form .property select
{
	font-size: 14px !important;
	line-height: 24px;
	font-family: CentraleSansRounded-Book !important;
	color:#4b4e52;
}

form .property.check-style label {
    font-size: 12px !important;
    line-height: 24px !important;
    font-family: CentraleSansRounded-Book;
    color: #4b4e52;
    text-transform: capitalize;
}

.pixel_effect.range label.gfield_label {
    line-height: 24px;
}

label#label_4_28_1 , label#label_10_12_1 , label#label_10_28_1{
    margin-left: 35px;
}

li#field_4_12 label ,li#field_10_12 label{
    margin: 7px 0px 0px 15px;
}

ul#input_4_28 li , ul #input_10_28 li {
    height: 35px;
    margin-bottom: 23px;
}


form .property.check-style .gfield_checkbox li.gchoice_14_14_2
{
	height: 24px;
    margin-top: 35px;
}
.property-name.property.pixel_effect .ginput_container.ginput_container_textarea {
    line-height: 13px;
}

.property-name.property .gfield_description {
    position: absolute;
    left: 100%;
    z-index: 10;
    top: 0;
    padding-top: 0;
   	width: 80%;
}

form#gform_4 .gform_body .gfield.top-distance, form#gform_10 .gform_body .gfield.top-distance{
    margin-top: 38px;
}

/*#gform_fields_login label.gfield_label {
    position: absolute;
    top: 0px;
    left: 20px;
    background-color: transparent;
}*/

.add-property-btn input#gform_submit_button_10, 
.add-property-btn input#gform_submit_button_4, 
.signin input#gform_submit_button_0, 
input#gform_submit_button_8  {
    color: #fff;
    background-color: #5bb3f7;
    border-color: #5bb3f7;
    padding: 20px 75px;
}

.add-property-btn input#gform_submit_button_3, 
.add-property-btn input#gform_submit_button_13, 
.add-property-btn input#gform_submit_button_14{
    color: #fff;
    background-color: #5bb3f7;
    border-color: #5bb3f7;
    padding: 20px 75px;
    width:100%;
	border-top-right-radius: 0px;
	border-top-left-radius: 0px;
}

.tab-content .signup {
    border: 1px solid #ebebeb;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

#gform_13 .top-dist, #gform_3 .top-dist, #gform_14 .top-dist {
    margin-top: 56px;
}

.signup .gform_footer.top_label {
    padding-bottom: 0;
}

.signup form#gform_14 .gform_body, .signup form#gform_3 .gform_body, .signup form#gform_13 .gform_body {
    padding: 27px 95px 20px 94px !important;
}

.custom-sign-up-tabs ul.nav.nav-tabs {
    position: absolute;
    top: -30px;
    left: 10%;
    margin-left: 0;
}

.nav-tabs .active .tab-sliver {
    color: #839ab2;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fcfeff+0,def0fd+100 */
	background: #fcfeff; /* Old browsers */
	background-image: -moz-linear-gradient( 90deg, rgb(91,179,247) 0%, rgb(255,255,255) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgba(91, 179, 247, 0.31) 0%, rgb(255,255,255) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(91,179,247) 0%, rgb(255,255,255) 100%);
    box-shadow: 0px 1px 0px 0px rgba(33, 125, 195, 0.082), inset 0px -6px 15px 0px rgba(85, 176, 247, 0.071);
	padding: 20px 28px;
	border-radius: none;
	border: none;
}

.nav-tabs .active .tab-sliver:focus,
.nav-tabs .active .tab-sliver:active,
.nav-tabs .active .tab-sliver:hover {
	border: none;
}

.nav-tabs .active .arrow-down {
	width: 10px;
	height: 10px;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 10px solid rgba(91, 179, 247, 0.31);
	position: absolute;
	text-align: center;
	left: 0;
	right: 0;
	margin: 0 auto;
}

a.signup-tab.tab-sliver.border-left-radius, a.signup-tab.tab-sliver{
	margin-right: 0px;
}
a.signup-tab.tab-sliver.border-left-radius{
	margin-left: 0px;
}
/* login page*/

a.sign-up-here {
    color: #4dadf7;

}

a:focus,
a:active {
	color: #337ab7;
}

.gform_login_widget li#field_3 ul {
  padding:0px;
}
.gform_login_widget li#field_3 li {
  list-style:none;
  display:block;
  padding:5px;
}

.gform_login_widget li#field_3 {
	position: relative;
	
}
.gform_login_widget li#field_3 label:after {
	content:"";
	background:#333;
	width:27px;
	height:27px;
	display:block;
	position: absolute;
	left:0;
	top:0;
	border-radius:3px;
	z-index: 0;
}

.gform_login_widget li#field_3 label:before {
	content:"";
	display:block;
    position: absolute;
    width: 6px;
	height: 15px;
    border: solid #fff;
    border-width: 0 3px 3px 0;
	left: 9px;
	top: 4px;
	transform: rotate(45deg);
	opacity:0;
	z-index:1;
	transition:all 100ms;
}
.gform_login_widget li#field_3 input[type="checkbox"] {
	opacity:0;
	outline:none;
	z-index:100;
	width:27px;
	height:27px;
	top:0;
	left:0;
	position: absolute;
	appearance: none;
	cursor: pointer;
}
.gform_login_widget li#field_3 input[type="checkbox"] + label {
  cursor: pointer;
}
.gform_login_widget li#field_3 input[type="checkbox"]:checked + label:before {
	opacity:1;
	top: 3px;
}


.signin input#input_1, .signin input#input_2 {
    width: 262px !important;
    height: 60px;
    font-size: 14px;
    line-height: 24px;
    color: #4b4e52 !important;
}

div#gform_wrapper_0 ul#gform_fields_login li#field_1, li#field_2{

	font-size: 12px !important;
    font-family: 'CentraleSansRounded-Medium';
    line-height: 16px;
    color: #adb5bd;
    text-transform: uppercase;
    top: 13px;
   
    background-color: transparent;
}

.signin-top {
    margin-top: 30px;
}

.page-template-template-add-property .signin .widget {
    margin: 0;
}

ul#input_3 {
    height: 24px;
    margin-top: 35px;
    margin-bottom: 101px;
}

.signin li#field_1 {
    margin-right: 0px;
}

.signin li#field_3 {
    display: block;
}

.signin .gform_wrapper ul.gform_fields {
    margin: 0!important;
}

#gform_fields_login li {
	display: inline-block;
	position: relative;
}

	form li#field_3 {
		position: relative;
		
	}

	.signin li#field_3 {
    margin-top: -4px;
}

.signin .widget {
    margin: 0 0 65px;
}

.sign-in h1.entry-title {
    margin-top: 95px !important;
}

	form #field_3 li.gchoice_3_1 label:after {
		content:"";
		background:#f9f9f9;
		width:24px;
		height:22px;
		display:block;
		position: absolute;
		left:0;
		top:0;
		border-radius:4px;
		z-index: 0;
		box-shadow: 0px 2px 0px 0px #e8e8e8;
	}
	form #field_3 li.gchoice_3_1 label:before {
		content:"";
		display:block;
	    position: absolute;
	    width: 6px;
		height: 15px;
	    border: solid #5cb4f7;
	    border-width: 0 3px 3px 0;
		left: 9px;
		top: 4px;
		transform: rotate(45deg);
		opacity:0;
		z-index:1;
		transition:all 100ms;
	}
	form input[type="checkbox"] {
		opacity:0;
		outline:none;
		z-index:100;
		width:27px;
		height:27px;
		top:0;
		left:0;
		position: absolute;
		appearance: none;
		cursor: pointer;
	}
	form input[type="checkbox"] + label {
		cursor: pointer;
	}
	form .signin li#field_3 li input[type="checkbox"]:checked + label:before {
		opacity:1;
		top: 3px;
	}

.signin, label.gfield_label {
    margin-top: 0px;
}

.signin .gform_footer.top_label {
    margin-top: -20px;
}
/* */
a.signup-tab.tab-sliver.border-left-radius {
    border-top-left-radius: 48px;
    border-bottom-left-radius: 48px;
}

a.signup-tab.tab-sliver.border-right-radius {
    border-top-right-radius: 48px;
    border-bottom-right-radius: 48px;
}

.signin .gfield_checkbox label#label_3_1 {
    margin-left: 36px;
}

.nav-tabs .tab-sliver {
    color: #aaabad;
    background: #fff;
    background: -moz-linear-gradient(top, #fff 0%, #fafafa 100%);
    background: -webkit-linear-gradient(top, #fff 0%,#fafafa 100%);
    background: linear-gradient(to bottom, #fff 0%,#fafafa 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfeff', endColorstr='#def0fd',GradientType=0 );
    border: none;
    padding: 20px 28px 20px 28px;
}
ul.nav.nav-tabs.nav-tabs-border {
    border: 0px;
}
a.signup-tab.tab-sliver {
    width: 180px;
    color:#b3b4b5;
}

.signup li#field_3_22 {
margin-top: 22px;
}
.signup .field-dist {
    width: 277px !important;
    margin-top: 19px;
}

body .property.custom-agent-mail {
    width: 65% !important;
}

signup  .select#input_3_8
{
	 width: 264px !important;
    margin-left: 10px !important;
    margin-top: 8px;
}
.signup li#field_14_22, .signup li#field_13_22 {
    margin-top: 22px !important;
}

/*{
    width: 268px !important;
    margin-left: 10px !important;
    margin-top: 8px;
    margin-right: 4px;
}
*/
.signup span#input_3_22_1_container, .signup span#input_13_22_1_container, .signup span#input_14_22_1_container,
.signup span#input_3_22_2_container, .signup span#input_14_22_2_container,  .signup span#input_13_22_2_container {
    width: 268px !important;
    margin-top: 8px;
    margin-right: 4px;
}

div#gform_wrapper_14, div#gform_wrapper_13, div#gform_wrapper_3 {
    margin-bottom: 0px;
}


li#field_4_12.gfield.property.check-style ,li#field_10_12{
    margin-top: 36px !important;
}
/*.tab-content div#gform_wrapper_3 .gform_body {
    padding: 67px 97px 60px 97px !important;
}*/

/**/

.signup label#label_14_14_1, .signup label#label_14_14_2 {
    margin-left: 40px !important;
}

.signup li.gchoice_14_14_1 {
    margin-bottom: 10px !important;
}

.signup li.gchoice_14_14_2 {
    margin-top: 15px !important;
}

.signup ul#input_14_14 {
     margin-top: 0px; 
     margin-bottom: 0px; 
}

form .signup .property .check-style .gfield_checkbox li {
	margin-top: 0px; 
	margin-bottom: 0px;
}

form .property.check-style .gfield_checkbox li {
	position: relative;
	padding-left:40px;
}
form .property.check-style .gfield_checkbox li label:after {
	content:"";
	background:#f9f9f9;
	width:24px;
	height:22px;
	display:block;
	position: absolute;
	left:0;
	top:0;
	border-radius:4px;
	z-index: 0;
	box-shadow: 0px 2px 0px 0px #e8e8e8;
}
form .property.check-style .gfield_checkbox li label:before {
	content:"";
	display:block;
    position: absolute;
    width: 6px;
	height: 15px;
    border: solid #5cb4f7;
    border-width: 0 3px 3px 0;
	left: 9px;
	top: 4px;
	transform: rotate(45deg);
	opacity:0;
	z-index:1;
	transition:all 100ms;
}


form .property.check-style input[type="checkbox"] {
	opacity:0;
	outline:none;
	z-index:100;
	width:27px;
	height:27px;
	top:0;
	left:0;
	position: absolute;
	appearance: none;
	cursor: pointer;
}
form .property.check-style input[type="checkbox"] + label {
  cursor: pointer;
}
form .property.check-style input[type="checkbox"]:checked + label:before {
	opacity:1;
	top: 3px;
}

body .gform_wrapper form li.fielddist, 
.gform_wrapper li.fielddist, 
.property.check-style.fielddist {
    margin-left: 10px !important;
}

/**/

.multilisting-update {
   margin-top: 25px;
}

/**/


.inspection-time label.gfield_label {
    font-size: 14px !important;
    line-height: 24px !important;
    color: #343a40;
}


input#input_4_22, input#input_4_23 {
    font-size: 14px !important;
    line-height: 24px;
    font-family: CentraleSansRounded-Book !important;
    color: #4b4e52;
}

#property_feature .entry-header {
    padding-top: 124px;
}

#gform_wrapper_4.gform_body {
    padding-top: 30px !important;
}

form#gform_4 .gform_body ul li.pixel-style {
    margin-top: 9px !important;
    margin-bottom: 40px !important;
}

form#gform_4 .gform_body ul li.pixel_effect , form#gform_10 .gform_body ul li.pixel_effect{
    margin-top: 30px;
    margin-bottom: 0px;
}

/*.custom-template {
    background-image: url(img/home_images.jpg);
    background-repeat: no-repeat;
    background-position: right top;
}*/



div#tabs {
    font-family: 'CentraleSansRounded-Book';
}
.ui-tabs .ui-tabs-nav .ui-tabs-anchor {
    padding: 15px 10px !important;
}
.ui-widget-header {
  	border: 0px solid #dddddd !important;
    background: transparent !important;
}
.ui-corner-all{
  border-bottom-right-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
  border-top-right-radius: 0px !important;
  border-top-left-radius: 0px !important;
}
.ui-corner-top{
  border-bottom-right-radius: 3px !important;
  border-bottom-left-radius: 3px !important;
}
.ui-tabs .ui-tabs-nav li{
  border-bottom-width: 1px !important; 
}
.ui-tabs .ui-tabs-nav {
    display: flex !important;
    justify-content: center !important;
}

body.page.page-id-160 div#footer-top{
    margin-top: 20px;
}

.add-property-btn select,
.add-property-btn input[type="password"],
.add-property-btn input[type="text"],
.add-property-btn input[type="email"],
.login-wrapper.signin select,
.login-wrapper.signin input[type="password"],
.login-wrapper.signin input[type="text"],
.login-wrapper.signin input[type="email"] {
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,fdfdfd+100 */
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top, #ffffff 0%, #fdfdfd 100%) !important; /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #ffffff 0%,#fdfdfd 100%) !important; /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #ffffff 0%,#fdfdfd 100%) !important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#fdfdfd',GradientType=0 ); /* IE6-9 */
}

input[type="text"], 
input[type="email"], 
input[type="url"], 
input[type="password"], 
input[type="search"], 
input[type="number"], 
input[type="tel"], 
input[type="range"], 
input[type="date"], 
input[type="month"], 
input[type="week"], 
input[type="time"], 
input[type="datetime"], 
input[type="datetime-local"], 
input[type="color"], 
textarea,
body .gform_wrapper .top_label div.ginput_container .medium.gfield_select
 {
    background-image: -moz-linear-gradient( 90deg, rgb(91,179,247) 0%, rgb(255,255,255) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgba(91, 179, 247, 0.01) 0%, rgb(255,255,255) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(91,179,247) 0%, rgb(255,255,255) 100%);
    box-shadow: 0px 1px 0px 0px rgba(145, 145, 145, 0.082), inset 0px -6px 15px 0px rgba(211, 211, 211, 0.071);
    border-radius: 5px;
	-moz-box-shadow: inset 0 0 10px rgba(145, 145, 145, 0.082);
    -webkit-box-shadow: inset 0 0 10px rgba(145, 145, 145, 0.082);
    box-shadow: inset 0px -5px 20px rgba(145, 145, 145, 0.082);
	border: none;

}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
}

body .gform_wrapper ul.gform_fields li.gfield {
    padding-right: 15px;
}

.owl-prev i.fa.fa-chevron-left{
	display: none;
}
.owl-next .fa.fa-chevron-right {
    display: none;
}

.fa-chevron-left:before {
color: #4BA6EC;
}

.fa-chevron-right:before {
color: #4BA6EC;
}

/*.page .owl-item {
margin-left: 35px;
}*/

 /* ========================================================================================================
													Contact us page
 ========================================================================================================== */
.address {
    margin-bottom: 20px;
    line-height: 28px;
}

.contact-details div {
    line-height: 28px;
}

.contact-title {
    margin-top: 0px;
    margin-bottom: 20px;
}

/* ========================================================================================================
													Site map
========================================================================================================== */
.page-list a {
    color: inherit;
}

 /* ========================================================================================================
													Print media Query
 ========================================================================================================== */
@media print {
/* insert your style declarations here */
	.print-half-right {
	    width: 48%;
	    padding-left: 20px;
	    float: right;
	}

	.print-half-left {
		width: 49%;
		float: left;
	    padding-right: 20px;
	}

	@page {
		size: auto;
		margin: 0;
	}

	.print-one-forth {
		width: 24%;
		display: inline-block;
	}

	.property-info img {
		padding: 0 5px 0 0;
	}

	.print-avatar {
		width: 25%;
	}

	.print-agent-name {
		width: 75%;
	}

	a[href]:after { 
		content: none !important; 
	}
	
	/*img[src]:after { 
		content: none !important; 
	}*/

	.print-col-3 {
		width: 25%;
		display: inline-block;
	}

	.print-col-6 {
		width: 50%;
		display: inline-block;
	}

	.property-share-info {
		margin-top: 30px;
	}

}

.gform_confirmation_wrapper {
    padding: 45px 95px 20px 94px !important;
}

@media print and (orientation:landscape) {
	.print-half-right {
	    width: 100%;
	    padding-left: 60px;
	    float: right;
	}

	.print-half-left {
		width: 100%;
		float: left;
	    padding-right: 60px;
	}

	.print-one-forth {
		width: 24%;
		display: inline-block;
	}

	.property-info img {
		padding: 0 5px 0 0;
	}

	.print-avatar {
		width: 25%;
	}

	.print-agent-name {
		width: 75%;
	}

	a[href]:after { 
		content: none !important; 
	}
	
	/*img[src]:after { 
		content: none !important; 
	}*/

	.print-col-3 {
		width: 25%;
		display: inline-block;
	}

	.print-col-6 {
		width: 50%;
		display: inline-block;
	}

}

/* ==============================================================================================================
													Media Query
 ============================================================================================================= */
	@media screen and (-webkit-min-device-pixel-ratio:0) { 
		
	}

	/* Large desktops and laptops */
    @media (min-width: 1200px) {
			.padding-right {
				padding-right: 0 !important;
			}

			.padding-left {
				padding-left: 0 !important;
			}

			#inspection-wrapper {
				margin-left: -30px;
			}

    }

    /* Portrait tablets and medium desktops */
    @media (min-width: 992px) and (max-width: 1199px) {

    }

    /* Portrait tablets and small desktops */
    @media (min-width: 768px) and (max-width: 991px) {
    }

    /* Landscape phones and portrait tablets */
    @media (max-width: 767px) {

    }

    @media (max-width: 640px) {

    }

    /* Landscape phones and smaller */
    @media (max-width: 480px) {
    	#footer-social{
    		margin-top: 80px;
		}
		.property-name.property .gfield_description {
			position:static;
			left: 100%;
		    z-index: 10;
		    top: 0;
		    padding-top: 0;
		}
		ul#input_4_28 li, ul #input_10_28 li{
		    height: 50px;
		    margin-bottom: 23px;
		}
		.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
		    background-color: #333;
		        margin-top: 25px;
		}
		#bs-example-navbar-collapse-1 {
		    margin-top: 25px;
		    float: left;
		    width: 100%;
		}
		.header-search-form {
		    float: left;
		    max-width: 210px;
		    margin: 20px 0 20px 20px;
		}
		.navbar-nav {
		    float: none !important;
		}

		.navbar-inverse .navbar-toggle {
		    border-color: #333;
		    background-color: #333;
		    margin-top: 22px;
		}

		/* Homepage search button css*/

		#home_page_only form#searchform input[type="submit"] {
		    font-family: 'CentraleSansRounded-Book' !important;
		    position: relative;
		    height: 72px;
		    border-top-right-radius: 40px;
		    border-bottom-right-radius: 40px;
		    background: #49a0e7;
		    background: -moz-linear-gradient(top, #49a0e7 1%, #5ab3f7 49%, #49a0e7 100%);
		    background: -webkit-linear-gradient(top, #49a0e7 1%,#5ab3f7 49%,#49a0e7 100%);
		    background: linear-gradient(to bottom, #49a0e7 1%,#5ab3f7 49%,#49a0e7 100%);
		    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#49a0e7', endColorstr='#49a0e7',GradientType=0 );
		    box-shadow: inset 0px -5px 6px 0px rgba(0, 0, 0, 0.07);
		    text-shadow: 2px 1px 0px rgba(12, 12, 18, 0.15);
		    color: #fff;
		    font-size: 16px;
		    width: 100%;
		    padding: 20px 68px 20px 50px;
		    float: right;
		    border: 0;
		    border-top-left-radius: 40px;
		    border-bottom-left-radius: 40px;
		    /* margin: 0 43px 0 0; */
		}

		#home_page_only form#searchform .inclined {
		    transform: skew(-22deg,0deg);
		    -ms-transform: skew(-22deg,0deg);
		    -webkit-transform: skew(-22deg,0deg);
		    width: 30px;
		    position: absolute;
		    height: 72px;
		    float: left;
		    left: 100px;
		    top: 0px;
		    border-top: 1px solid #adb5bd;
		    border-bottom: 1px solid #adb5bd;
		    margin: 0;
		    z-index: 0;
		}

		#home_page_only form#searchform .inclined_submit {
		    position: absolute;
		    top: 71px;
		    right: 0;
		    width: 100%;
		    overflow: hidden;
		    margin-top: 10px
		}
		
		/*header complete*/

		div#feature2 {
		    margin-top: 50px;
		}

	}

    @media (max-width: 320px) {
        
    }
    @media (min-width: 992px){
		.item-wrapper {
		    min-height: 330px;
		}
	}
    